
.scores {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 900px;
}

.Leaderboard {
    font-family: "Lexend-SemiBold", Helvetica;
    text-align: center;
    margin: 30px auto;
    width: 400px;
  }
  
  .title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
  } 
  
  .list {
    list-style-type:decimal;
  }
  
  .list li {
    font-size: 24px;
    font-weight: 800;
    padding: 8px 0;
  }