.box {
    height: 203px;
    position: relative;
    width: 700px;
  }
  
  .box .group {
    height: 203px;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    position: fixed;
    top: 200px;
    width: 704px;
  }
  
  .box .text-wrapper {
    color: #000000;
    font-family: "Lexend-ExtraBold", Helvetica;
    font-size: 72px;
    font-weight: 800;
    height: 90px;
    left: 243px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .box .div {
    color: #000000;
    font-family: "Lexend-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 90px;
  }
  
  .box .rectangle {
    background-color: #ffffff;
    resize: none;
    vertical-align: middle;
    border-radius: 40px;
    box-shadow: 0px 4px 10px #00000040;
    height: 40px;
    position: absolute;
    left:0px;
    top: 163px;
    width: 700px;
  }